extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen Nosotros")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis, tellus vel ultrices interdum, nisl magna varius velit, bibendum viverra sapien justo eu justo. Aenean ultricies velit rhoncus ligula elementum, ut venenatis nibh consequat. Vestibulum convallis metus ut dignissim tincidunt. Proin sed diam non diam dapibus rhoncus id finibus ligula. Etiam malesuada sem risus, a commodo ipsum ornare in. Donec velit nisi, porttitor quis ullamcorper eu, accumsan a ipsum. Phasellus eget eleifend eros, fermentum interdum dolor. In dolor ante, rhoncus et sollicitudin condimentum, convallis eu metus. Curabitur hendrerit sem a nunc ultrices, nec ullamcorper neque hendrerit.

                p vulputate tellus iaculis nisi congue lobortis. Ut mollis tempus dui sit amet egestas. Etiam vehicula arcu a est tempus, quis ullamcorper augue pulvinar. In vel aliquam eros. Donec nec varius sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed fermentum at nisi tempus pulvinar. Pellentesque pretium efficitur rhoncus. Proin non ante dolor. Phasellus pulvinar enim non sodales lobortis. Integer lobortis dui at tempor rhoncus. Donec molestie sollicitudin eros, vel scelerisque neque accumsan sed. Nullam ac varius nisl, ac viverra ante. Fusce mattis tellus ut ullamcorper aliquam.

                p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum gravida tempor dapibus. Pellentesque finibus condimentum lorem. Mauris sodales sem vel ligula ultrices suscipit. Nulla facilisi. In sit amet egestas nulla. Fusce et justo rhoncus, tristique tortor sit amet, iaculis lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In velit quam, rhoncus id enim non, sagittis pellentesque orci.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Seguridad Icon")
                    h2.mb-4 Seguridad 
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum gravida tempor dapibus. Pellentesque finibus condimentum lorem. Mauris sodales sem vel ligula ultrices suscipit.
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Destinos Icon")
                    h2.mb-4 Mejores Destinos 
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum gravida tempor dapibus. Pellentesque finibus condimentum lorem. Mauris sodales sem vel ligula ultrices suscipit.
                .col-md-4 
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="PRecios Icon")
                    h2.mb-4 Los Mejores Precios 
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum gravida tempor dapibus. Pellentesque finibus condimentum lorem. Mauris sodales sem vel ligula ultrices suscipit.